<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="msaConfiguration" type="NSP.Common.Config.MsaConfiguration,NSP.Common"/>
  </configSections>
  <msaConfiguration>
    <application url=""/>
    <commandQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.CommandMessageExchange" />
    <eventQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.EventMessageExchange" />
    <mongoEventStore connectionString="mongodb://10.40.70.31:27017" database="WeText" collectionName="Aggregates" />
    <services>
      <service type="WeText.Services.Accounts.AccountService" instanceId="FEBCD130-0461-4C04-97F4-1BC4A72F4CB8">
        <localCommandQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.CommandMessageExchange" queueName="WeText.AccountServiceCommandQueue" />
        <localEventQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.EventMessageExchange" queueName="WeText.AccountServiceEventQueue" />
        <settings>
          <setting key="TableDataGatewayConnectionString" value="server=10.40.70.31;uid=webuser;pwd=Sunshine01;database=wetext.accounts;" />
        </settings>
      </service>
      <service type="WeText.Services.Texting.TextingService" instanceId="67599FAB-A79D-44B1-A597-C6CF50F020BB">
        <localCommandQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.CommandMessageExchange" queueName="WeText.TextingServiceCommandQueue" />
        <localEventQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.EventMessageExchange" queueName="WeText.TextingServiceEventQueue" />
        <settings>
          <setting key="TableDataGatewayConnectionString" value="server=10.40.70.31;uid=webuser;pwd=Sunshine01;database=wetext.texting;" />
        </settings>
      </service>
      <service type="WeText.Services.Social.SocialService" instanceId="35D5011D-3F3A-4EE9-9DEE-176F3DE130E9">
        <localCommandQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.CommandMessageExchange" queueName="WeText.SocialServiceCommandQueue" />
        <localEventQueue connectionUri="amqp://admin:Sunshine01@10.40.70.31:5672" exchangeName="WeText.EventMessageExchange" queueName="WeText.SocialServiceEventQueue" />
        <settings>
          <setting key="TableDataGatewayConnectionString" value="server=10.40.70.31;uid=webuser;pwd=Sunshine01;database=wetext.social;" />
        </settings>
      </service>
    </services>
  </msaConfiguration>
</configuration>